<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix-Notifier</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="static/css/style.css?v=1.1">
</head>
<body>
    <div class="container">
        <form id="form">
            <h1>Matrix-Notifier</h1>
            {% if token %}
            <input id="tokenInput" type="password" placeholder="Auth-Secret" required>
            {% endif %}
            <input id="channelInput" type="text" placeholder="Channel" required>
            <input id="titleInput" type="text" placeholder="Title">
            <textarea id="messageInput" placeholder="Message" required></textarea>
            <a id="markdownInput">Markdown Enabled: <input id="markdownCheckbox" type="checkbox"/></a>
            <button id="sendButton">Send</button>
        </form>
    </div>
    <div class="msg error" id="msgErrorDiv"></div>
    <div class="msg success" id="msgSuccessDiv"></div>
    </div>
<script src="/static/js/script.js"></script>
</body>
</html>